<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/Layout/index :: dynamic(~{::main})}">

<body>
<main class="row">
    <div class="container">
        <div class="grid">
            <div class="slider">
                <div class="slider__list">
                    <div class="slider__item">
                        <div id="carouselExampleIndicators" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="..." class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="..." class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="..." class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__row container__wrapper">
                <div class="body">
                    <div class="content">
                        <div class="content__header">
                            <h3 class="content__heading">Hàng Mới Về</h3>
                            <div class="content__actions">
                                <div class="content__actions-item">
                                    <div class="content__actions-btn">Tất cả</div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__row">

                            <div class="grid__column-4-12" th:each="chiTietSanPham : ${items}">
                                <div class="product">
                                    <div class="product__wrapper">
                                        <a th:href="@{|/product/detail/${chiTietSanPham.idChiTietSanPham}|}"
                                           class="product__link">
                                            <img th:src="@{|/static/image/${chiTietSanPham.danhSachHinhAnh[0].duongDan}|}"
                                                 class="product__img">
                                        </a>

                                        <!-- Kiểm tra nếu danhSachHinhAnh có ít nhất 2 phần tử -->
                                        <div th:if="${chiTietSanPham.danhSachHinhAnh.size() > 1}" class="img_hover">
                                            <!-- Truy cập phần tử thứ hai -->
                                            <a th:href="@{|/product/detail/${chiTietSanPham.idChiTietSanPham}|}"
                                               class="product__link">
                                                <img th:src="@{|/static/image/${chiTietSanPham.danhSachHinhAnh[1].duongDan}|}"
                                                     class="product__img">
                                            </a>
                                        </div>

                                    </div>

                                    <div class="product__content">
                                        <p class="product__name" th:text="${chiTietSanPham.tenSanPham}"></p>
                                        <div class="product__detail">
                                            <div class="product__price">
                                                <span class="product__price-de"
                                                      th:text="${chiTietSanPham.giaBan}"></span>
                                                <span class="product__price-sale"></span>
                                            </div>
                                            <div class="product__action">
                                                <div class="product__wishlist">
                                                    <!-- <i class="fa-regular fa-heart"></i> -->
                                                    <i class="fa-solid fa-heart"></i>
                                                </div>
                                                <div class="product__cart">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="" class="btn btn--primary content__show">Xem Tất Cả</a>
                    </div>
                    <div class="content">
                        <div class="content__header">
                            <h3 class="content__heading">Hàng Bán Chạy</h3>
                            <div class="content__actions">
                                <div class="content__actions-item">
                                    <div class="content__actions-btn">Tất cả</div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__row">

                            <div class="grid__column-4-12">
                                <div class="product">
                                    <div class="product__wrapper">
                                        <a href="" class="product__link">
                                            <img src=".->imgPro ?>" class="product__img">
                                        </a>
                                        <div class="img_hover">
                                            <a href="" class="product__link">
                                                <img src=".a['img']['img_name'] ?>" class="product__img">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="product__content">
                                        <p class="product__name"></p>
                                        <div class="product__detail">
                                            <div class="product__price">
                                                <span class="product__price-de"></span>
                                                <span class="product__price-sale"></span>
                                            </div>
                                            <div class="product__action">
                                                <div class="product__wishlist">
                                                    <!-- <i class="fa-regular fa-heart"></i> -->
                                                    <i class="fa-solid fa-heart"></i>
                                                </div>
                                                <a href="" class="product__cart">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="" class="btn btn--primary content__show">Xem Tất Cả</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
