  <!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>Title</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <style>
          body {
              background-color: #f8f9fa;
              padding: 20px;
          }

          form {
              max-width: 400px;
              margin: 0 auto;
          }

          .form-floating {
              margin-bottom: 15px;
          }

          .form-check {
              margin-bottom: 15px;
          }

          button {
              padding: 10px 20px;
              background-color: #007bff;
              color: white;
              border: none;
              cursor: pointer;
          }

          button:hover {
              background-color: #0056b3;
          }
      </style>
  </head>
  <body>
  <div th:replace="~{admin/index::index}"></div>
  <div class="content-body">
  <form id="myForm" th:action="@{'/khachhang/update/' + ${kh.idKhachHang}}" th:object="${kh}" method="post">
      <div class="form-floating mb-3">
          <input type="text" class="form-control" th:field="*{ten}">
          <label>Ho Ten Khach Hang</label>
          <i th:errors="*{ten}"></i><br>
      </div>
      <div class="form-floating mb-3">
          <input type="date" class="form-control" th:field="*{ngaySinh}">
          <label>Ngay Sinh</label>
          <i th:errors="*{ngaySinh}"></i><br>

      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="gioiTinh" id="flexRadioDefault1" th:field="*{gioiTinh}"
                 th:value="Nu" >
          <label class="form-check-label" for="flexRadioDefault1">
              Nu
          </label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="gioiTinh" th:field="${kh.gioiTinh}" th:value="Nam">
          <label class="form-check-label">
              Nam
          </label>
      </div>
      <i th:errors="*{gioiTinh}"></i><br>
      <div class="form-floating mb-3">
          <input type="number" class="form-control" th:field="*{soDienThoai}">
          <label>So Dien Thoai</label>
          <i th:errors="*{soDienThoai}"></i><br>

      </div>
      <div class="form-floating">
          <input type="text" class="form-control"  th:field="*{matKhau}">
          <label >Mat Khau</label>
          <i th:errors="*{matKhau}"></i><br>
      </div>

      <div class="form-floating mb-3">
          <textarea class="form-control" th:field="*{diaChi}" rows="4"></textarea>
          <label>Dia Chi</label>
          <i th:errors="*{diaChi}"></i><br>
      </div>
      <div class="form-floating mb-3">
          <input type="email" class="form-control" th:field="*{email}">
          <label>Email</label>
          <i th:errors="*{email}"></i><br>

      </div>
      <div class="form-floating mb-3">
          <input type="date" class="form-control" th:field="*{ngayTao}">
          <label>Ngay Tao</label>
          <i th:errors="*{ngayTao}"></i><br>
      </div>
      <div class="form-group">
          <label for="trangThai">Trạng thái:</label>
          <input type="checkbox" id="trangThai" th:field="*{trangThai}"/>
      </div>
      <input type="submit" class="btn btn-success" onclick="return confirmSave()" value="Save"/>
  </form>
  <script>
      function confirmSave() {
          Swal.fire({
              title: 'Bạn có chắc muốn lưu không?',
              text: 'Thay đổi này sẽ được áp dụng!',
              icon: 'info',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Lưu',
              cancelButtonText: 'Hủy'
          }).then(result => {
              if (result.isConfirmed) {

                  document.getElementById('myForm').submit(); // Tiến hành submit form
                  alert("Lưu thành công!"); // Hiển thị thông báo lưu thành công
              } else {
                  Swal.fire('Hủy lưu!', '', 'info'); // Hiển thị thông báo hủy lưu
              }
          });
          return false; // Trả về false để ngăn chặn hành động submit mặc định của form
      }
  </script>
    </div>
  </body>
  </html>
